@import "../../scss/style.scss";

.about {
  margin: 60px;
  // background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm209-adj-06-a.jpg?w=1300&dpr=1&fit=default&crop=default&q=80&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=26d732d4f5cc62eb3f93deee6f8ac36c");
  // // url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/paperboard-texture_95678-72.jpg");
  // // background-size: cover;
  // background-repeat: no-repeat;
  // // background-position: bottom;
  @include tablet {
    margin: 30px;
  }
}

.about-section {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .image-box {
    margin-right: 30px;
    @include mobile {
      display: none;
    }
  }

  .profile-image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.2em;
    @include mobile {
      font-size: 3em;
    }
  }

  .content {
    line-height: 35px;
    @include tablet {
      margin-bottom: 50px;
    }
  }

  .text-container {
    p {
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  .profile-image-2 {
    width: 100%;
    display: none;
    margin: 0 auto;
    @include mobile {
      display: block;
    }
  }
}
