@import "../../scss/style.scss";

.about {
  margin: 60px;

  @include tablet {
    margin: 30px;
  }
}

.about-section {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .image-box {
    margin-right: 30px;
    @include mobile {
      display: none;
    }
  }

  .profile-image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-size: 3.2em;
    @include mobile {
      font-size: 3em;
    }
  }

  .content {
    line-height: 35px;
    @include tablet {
      margin-bottom: 50px;
    }
  }

  .text-container {
    p {
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  .profile-image-2 {
    width: 100%;
    display: none;
    margin: 0 auto;
    @include mobile {
      display: block;
    }
  }
}
