@import "../../scss/style.scss";

.card {
  text-align: center;
  cursor: pointer;
  box-shadow: $card-shadow;
  transition: 0.2s;
  border-style: none !important;

  &:hover {
    box-shadow: $card-shadow-hover;
    transform: translate(0px, 0px);
  }

  h3 {
    color: black;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  p {
    color: black;
    margin-bottom: 20px;
    font-size: 1rem;
  }

  img {
    // margin-bottom: auto;
    width: 100%;
    // height: auto;
  }
}

.slacker {
  background-color: $newspaper !important;
  // grid-column: 1/2;
}

.greenshop {
  background-color: lighten($earth-green, 15%) !important;
  // grid-column: 2/3;
  @include mobile {
    margin-left: -20px;
  }
}

.help {
  background-color: lighten($light-blue-green, 10%) !important;
  // grid-column: 1/2;
  // grid-row: 2/3;
  p {
    margin: 15px;
    @include tablet {
      margin: 0 0 15px;
    }
  }
  img {
    width: 40%;
    height: auto;
  }
  @include mobile {
    margin-left: -20px;
  }
}

.portfolio {
  background-color: lighten($light-blue-green, 10%) !important;
  // grid-column: 2/3;
  // grid-row: 2/3;
}

.card-content {
  padding: 40px 20px 20px;
}
