@import "../../scss/style.scss";

.slacker {
  // background-color: $pastel-pink;
  border-radius: 20px;
  border: 1px solid grey;
  grid-column: 1/2;
  h4,
  p {
    color: black;
  }
}

.greenshop {
  // background-color: $light-green;
  border-radius: 20px;
  border: 1px solid grey;
  grid-column: 2/3;
  grid-row: 2/3;
  h4,
  p {
    color: black;
  }
}

.help {
  // background-color: $pastel-orange;
  border-radius: 20px;
  border: 1px solid grey;
  grid-column: 1/2;
  grid-row: 3/3;
  h4,
  p {
    color: black;
  }
}

.card-content {
  padding: 70px;

  a {
    margin-left: 0;
    margin-right: 20px;
  }
}
