@import "../../scss/style.scss";

.card {
  background-color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  border-style: none !important;

  &:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    transform: translate(0px, 0px);
  }

  h3 {
    // color: darken($beige-pink, 50%);
    color: black;
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  p {
    // color: darken($beige-pink, 50%);
    color: black;
    margin-bottom: 50px;
    font-size: 1em;
  }

  a {
    color: black;
    margin-left: 0;
    margin-right: 20px;
  }

  img {
    margin-bottom: auto;
    width: 100%;
    height: auto;
  }
}

.slacker {
  background-color: $beige-pink;
  grid-column: 1/2;
}

.greenshop {
  background-color: $earth-green;
  grid-column: 2/3;
  // grid-row: 2/3;
}

.help {
  background-color: $light-grey;
  grid-column: 3/4;
  // grid-row: 3/3;
  p {
    margin: 15px;
    @include tablet {
      margin: 0 0 15px;
    }
  }
  img {
    width: 40%;
    height: auto;
  }
}

.card-content {
  padding: 40px 20px 20px;
}
