@import "../../scss/style.scss";

.home {
  background-color: $background-green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    padding-left: 60px;
  }

  .profile-text {
    text-align: left;

    h2 {
      color: $beige;
      font-size: $font-size-h2;
      text-shadow: $shadow-dark-green;
    }
  }
}
