@import "../../scss/style.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-594540-png.png");
  // // url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/paperboard-texture_95678-72.jpg");
  // background-size: cover;
  // background-position: bottom;
}

.profile {
  margin: 30px 150px 70px 120px;
  display: flex;
  @include tablet {
    display: block;
    text-align: center;
    margin: 30px;
  }

  .image {
    height: 330px;
    margin-right: -50px;
    margin-top: 160px;
    // position: relative;
    // z-index: 1;
    @include tablet {
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
    }
    @include mobile {
      height: 290px;
    }
  }

  .top {
    @include tablet {
      display: none;
    }
  }

  .bottom {
    display: none;
    @include tablet {
      display: block;
    }
  }

  .profile-text {
    text-align: left;

    .profile-intro {
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
      font-size: 1.2em;
      padding: 44px;
      background-color: darken($earth-green, 10%);
      @include mobile {
        font-size: 1em;
        // padding: 40px 15px;
      }

      a {
        color: black;

        &:hover {
          @include hoverLink();
        }
      }
    }

    h2 {
      color: black;
      font-size: 7.5em;
      // text-shadow: 4px 6px $anderson-blue;
      margin-bottom: -38px;
      margin-left: -8px;
      @include mobile {
        font-size: 5.5em;
        margin-bottom: -32px;
      }
    }

    p {
      font-weight: 600;
      font-size: 1em;
      color: white;
    }
  }
}

.arrow {
  height: 60px;
  cursor: pointer;
  transform: rotate(180deg);
  margin-top: -120px;
  position: relative;

  &:hover {
    animation: bounce 1s infinite;
    @keyframes bounce {
      0% {
        bottom: 5px;
      }
      25%,
      75% {
        bottom: 15px;
      }
      50% {
        bottom: 20px;
      }
      100% {
        bottom: 0;
      }
    }
  }
}
