@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@100;400;500&display=swap");
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile {
  margin: 30px 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 70%;
}

@media screen and (max-width: 1024px) {
  .profile {
    margin: 30px;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    display: block;
    text-align: center;
    margin: 20px;
  }
}

.profile .image {
  height: 330px;
  margin-right: -50px;
  margin-top: 160px;
}

@media screen and (max-width: 750px) {
  .profile .image {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  .profile .top {
    display: none;
  }
}

.profile .bottom {
  display: none;
}

@media screen and (max-width: 750px) {
  .profile .bottom {
    display: block;
  }
}

.profile .profile-text {
  text-align: left;
}

.profile .profile-text .profile-intro {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  padding: 44px 60px;
  background-color: #a0b59c;
}

@media screen and (max-width: 750px) {
  .profile .profile-text .profile-intro {
    padding: 40px 15px;
  }
}

.profile .profile-text .profile-intro a {
  color: black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.profile .profile-text .profile-intro a:hover {
  -webkit-text-shadow: 0 0 10px #ff401a, 0 0 10px #ff9b1a;
  -moz-text-shadow: 0 0 10px #ff401a, 0 0 10px #ff9b1a;
  -ms-text-shadow: 0 0 10px #ff401a, 0 0 10px #ff9b1a;
  -o-text-shadow: 0 0 10px #ff401a, 0 0 10px #ff9b1a;
  text-shadow: 0 0 10px #ff401a, 0 0 10px #ff9b1a;
  text-decoration: none;
  padding-bottom: 3px;
}

.profile .profile-text h2 {
  color: black;
  font-size: 7.5em;
  margin-bottom: -38px;
  margin-left: -10px;
}

@media screen and (max-width: 750px) {
  .profile .profile-text h2 {
    font-size: 5.5rem;
    margin-bottom: -28px;
    margin-left: -7px;
  }
}

.profile .profile-text p {
  font-weight: 600;
  font-size: 1em;
  color: white;
}

.arrow {
  height: 50px;
  cursor: pointer;
  margin-top: -90px;
  position: relative;
}

.arrow:hover {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
/*# sourceMappingURL=Home.css.map */