@import "../../scss/style.scss";

.home {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin: 80px 120px 70px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    margin-left: 80px;
    margin-top: 20px;
  }

  .profile-text {
    text-align: left;

    .profile-intro {
      padding: 44px;
      background-color: $red;
    }

    h2 {
      color: black;
      font-size: 7.5em;
      // text-shadow: $shadow-dark-green;
      margin-bottom: -38px;
      margin-left: -8px;
    }

    p {
      font-weight: 600;
      font-size: 1em;
      color: white;
    }
  }
}
