@import "../../scss/style.scss";

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin textShadow($text-shadow) {
  -webkit-text-shadow: $text-shadow;
  -moz-text-shadow: $text-shadow;
  -ms-text-shadow: $text-shadow;
  -o-text-shadow: $text-shadow;
  text-shadow: $text-shadow;
}

.navbar {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-size: 1.5em !important;
  font-weight: bolder;
  @include transition(0.5s ease-in-out);
  @include textShadow((0 0 0 transparent, 0 0 0 transparent));

  overflow: visible;
  &:hover {
    @include textShadow((0 0 10px #ff401a, 0 0 50px #ff9b1a));
  }
}

.nav-link {
  &:hover {
    @include hoverLink();
  }
}
