@import "../../scss/style.scss";

.projects-section {
  min-height: 100vh;
}

#projects {
  padding-bottom: 50px;
  @include mobile {
    background-position: 0 5px;
  }

  h2 {
    font-size: $h2;
    color: black;
    margin: 120px 60px -30px;
    position: relative;
    z-index: 1;
    @include mobile {
      font-size: 3.4em;
    }
  }

  .project-cards {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 60px;
    @include mobile {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .card-link {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
