@import "../../scss/style.scss";

.projects-section {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: $font-size-h2;
    margin: 120px;
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
