@import "../../scss/style.scss";

.projects-section {
  min-height: 100vh;
}

#projects {
  padding-bottom: 50px;

  h2 {
    font-size: $h2;
    color: black;
    margin: 120px 20px -30px;
    position: relative;
    z-index: 1;
    @include mobile {
      font-size: 3.4rem;
      margin: 10px 0px -18px 15px;
    }
  }

  .project-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 30px;
    @include tablet {
      grid-template-columns: 1fr;
      padding: 0 20px;
    }
    .card-link {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
