@import "../../scss/style.scss";

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $darkest-grey;
  .footer-content {
    color: white;
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .copyright {
    grid-column: 1/2;
  }

  .social {
    grid-column: 2/3;

    .github {
      padding-right: 20px;
    }
  }

  .email {
    grid-column: 3/4;
  }

  h6 {
    font-weight: bold;
  }
}
