$newspaper: #ebeae9;

$yellow: #e2a94c;

$orange-red: #dd7962;
$pastel-pink: #fed1bf;
$dark-pastel-pink: #c28d92;
$light-pink: #ffe0e2;
$beige-pink: #f1ebe7;

$light-green: #b9e1bf;
$earth-green: #bccbb9;
$dark-green: #44714a;
$darkest-green: #273326;
$background-green: #b8d8bd;
$light-blue-green: #c9e3dd;

$aqua: #28959f;
$aqua-green: #9cc4ab;
$anderson-blue: #487391;

$orange: #f38751;
$grandpa-orange: #f87932;

$darkest-grey: #373737;
$mid-grey: #eceeef;
$light-grey: #f5f5f5;

$purple: #cdb7ec;
