$beige: #faf3d3;

$orange-red: #dd7962;
$pastel-orange: #fd8a81;
$pastel-pink: #fed1bf;
$light-pink: #ffe0e2;
$beige-pink: #f1ebe7;

$light-green: #b9e1bf;
$bright-green: #62b16f;
$earth-green: #bccbb9;
$dark-green: #44714a;
$darkest-green: #273326;
$background-green: #b8d8bd;
$blue-green: #c9e3dd;

$red: #f05029;
$grandpa-red: #d74323;
$grandpa-orange: #f87932;

$darkest-grey: #373737;
