@import "./colours";

$shadow-dark-green: 5px 9px $dark-green;
$shadow-light-green: 5px 9px $background-green;

$h2: 7.5em;

$card-shadow: 0.2px 0.2px 5px rgba(0, 0, 0, 0.2);
$card-shadow-hover: 3px 3px 25px rgba(0, 0, 0, 0.4);
